/****************/
/* common */
/****************/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 10px;
}
.link {
  background-color: #085f63;
  color: #fff;
  font-size: 16px;
  width: 160px;
  height: 40px;
  margin: 20px 0 50px 0;
  font-family: 'Roboto', sans-serif;
  border: none;
  transition: all ease .5s;
  cursor: pointer;
}
.link:hover {
  background-color: #fff;
  color: #085f63;
  border: 3px solid #ffa500;
  font-weight: bold; 
}
#goToTopBtn {
  font-size: 48px;
  padding: 5px 25px 10px;
  background: #085f63;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all ease .5s;
  opacity: .7;
  cursor: pointer;
  display: none;
}
#goToTopBtn:hover {
  background: #313030;
}
#goToTopBtn.active {
  display: block;
}

/****************/
/* header */
/****************/
header {
  background-color: #ebeecf;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 15px;
}
header .logo img {
  height: 37px;
  vertical-align: middle;
}
header .menu_icons ul li {
  display: inline;
  margin-left: 20px;
}
header .menu_icons ul li img {
  height: 20px;
  cursor: pointer;
}
header .menu_icons button {
  background: none;
  border: none;
  transition: all ease .5s;
}
header .login button:hover {
  background-color: #fff;
  color: #085f63;
  border: 3px solid #ffa500;
  font-weight: bold;
}
header #search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .5s ease-in-out;
  transform: translate(0px, -100%) scale(0, 0);    
  opacity: 0;
  display: none;
}
header #search.open {
  transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
  z-index: 106;
  display: block;
}
header #search input[type="search"] {
  position: absolute;
  top: 30%;
  left: 0;
  margin-bottom: 51px;
  width: 60%;
  margin-left: 20%;
  color: rgb(255, 255, 255);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .8);
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  outline: none;
  padding: 10px;
}
header #search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  opacity: 1;
  font-size: 27px;
  font-weight: bold;
  transition: all ease .5s;
  color: #fff;
}
header #search .close:hover {
  color: #085f63;
  cursor: pointer;
}
header .menu_bar .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}
header .menu_bar:hover {
  background-color: #085f63;
}
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebeecf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0 ,0 ,0 , 0.2);
}
header .dropdown-content a {
  color: #000;
  padding: 12px 16px;
  display: block;
  margin-right: 30px;
}
header .dropdown-content a:hover {
  background-color: #b3b3b3;
}
header .show {
  display: block;
}

/****************/
/* main_visual */
/****************/
.main_visual {
  background-image: url(../images/img01.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 180px 0;
}
.main_visual h2 {
  font-size: 13px;
  font-weight: 100;
}
.main_visual h3 {
  font-size: 15px;
  font-weight: 100;
  padding: 10px 0 30px 0;
}
.main_visual ul li {
  display: inline;
  padding: 0 7px;
}
.main_visual button {
  width: 106px;
  height: 33px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 11px;
  background: transparent;
  transition: all ease .5s;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.main_visual button:hover {
  background-color: #fff;
  color: #085f63;
  font-weight: bold; 
}

/****************/
/* courses */
/****************/
.courses {
  color: #313030;
}
.courses h3 {
  font-size: 24px;
  text-align: center;
  padding: 40px 0 2px 0;
}
.courses hr {
  border: 1.5px solid #085f63;
  width: 20px;
  margin: 0 auto;
}
.courses .text_main {
  width: 300px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Alegreya', serif;
}
.courses .sec_c {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
.courses img {
  width: 300px;
  height: 200px;
}
.courses h4 {
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}
.courses .text {
  font-size: 16px;
  text-align: justify;
  font-family: 'Alegreya', serif;
}

/****************/
/* admission */
/****************/
.admission {
  background-color: #b3b3b3;
  border-top: 1px solid #8f8f8e;
  border-bottom: 1px solid #8f8f8e;
  text-align: center;
}
.admission .container {
  width: 300px;
  margin: 0 auto;
}
.admission h3 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding: 40px 0 2px 0;
}
.admission hr {
  border: 1.5px solid #fff;
  width: 20px;
  margin: 0 auto;
}
.admission .form {
  width: 300px;
  margin-top: 20px;
  font-family: 'Alegreya', serif;
  font-size: 16px;
  background-color: #fff;
  color: #313030;
}
.form-group {
  position: relative;
}
.form-control-placeholder {
  position: absolute;
  top: 6px;
  left: 18px;
  transition: all .2s;
  opacity: 0.5;
  cursor: text;
}
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -120%, 0);
  color: #085f63;
  opacity: 1;
}
.admission p {
  text-align: center;
  padding: 10px 0;
}
.admission input {
  width: 265px;
  color: #313030;
  border: 1px solid #b3b3b3;
  font-size: 16px;
  font-family: 'Alegreya', serif;
  margin: 0 0 10px 10px;
  padding: 5px;
  transition: all ease .5s;
}
.admission input:hover {
  background-color: #b3b3b3;
}
.admission textarea {
  width: 265px;
  color: #313030;
  border: 1px solid #b3b3b3;
  font-size: 16px;
  font-family: 'Alegreya', serif;
  margin: 0 0 5px 10px;
  padding: 5px; 
  transition: all ease .5s;
}
.admission textarea:hover {
  background-color: #b3b3b3;
}

/****************/
/* research */
/****************/
.research {
  background-color: #f3f2f2;
  color: #313030;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}
.research h3 {
  font-size: 24px;
  text-align: center;
  padding: 40px 0 2px 0;
}
.research hr {
  border: 1.5px solid #085f63;
  width: 20px;
  margin: 0 auto;
}
.research .text_main {
  width: 300px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Alegreya', serif;
}
.research .sec_r {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
.research img {
  width: 300px;
  height: 200px;
}
.research h4 {
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}
.research .text {
  font-size: 16px;
  text-align: justify;
  font-family: 'Alegreya', serif;
}

/****************/
/* news_events */
/****************/
.news_events {
  color: #313030;
  text-align: center;
}
.news_events h3 {
  font-size: 24px;
  text-align: center;
  padding: 40px 0 2px 0;
}
.news_events .hl_line {
  border: 1.5px solid #085f63;
  width: 20px;
  margin: 0 auto 10px;
}
.news_events h4 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}
.news_events h5 {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  padding-top: 2px;
}
.news_events p {
  text-align: left;
  font-family: 'Alegreya', serif;
}
.news_events .news {
  display: flex;
  font-size: 14px;
  background-color: #f3f2f2;
}
.news_events .news img {
  width: 133px;
  height: 93px;
  padding-right: 5px;
}
.news_events .outer_n {
  width: 300px;
  margin: 0 auto;
}
.news_events .outer_n .mid_line_01 {
  border: 8px solid #fff;
}
.news_events .outer_ev {
  width: 300px;
  margin: 0 auto;
}
.news_events .events {
  display: flex;
  font-size: 14px;
  background-color: #f3f2f2;
}
.news_events .events ul {
  background-color: #085f63;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  margin: 10px 0 10px 10px;
}
.news_events .events li {
  font-size: 16px;
}
.news_events .events span {
  font-size: 26px;
  font-weight: 600;
}
.news_events .events .time {
  margin: 10px;
}
.news_events .events .time span {
  color: #f3f2f2;
  font-size: 18px;
}
.news_events .events img {
  height: 14px;
  margin-top: 5px;
}
.news_events .outer_ev .mid_line_02 {
  width: 240px;
  border: .3px solid #313030;
  margin: 0 auto;
}

/****************/
/* contact */
/****************/
.contact {
  background-color: #ebeecf;
  color: #313030;
}
.contact .container {
  width: 300px;
  margin: 0 auto;
}
.contact h3 {
  text-align: center;
}
.contact .logo img {
  height: 120px;
  margin-top: 40px;
}
.contact .end_line {
  border: .5px solid #313030;
  margin-top: 25px;
}
.contact h4 {
  font-size: 20px;
  margin-top: 30px;
}
.contact .head_line {
  border: 1.5px solid #085f63;
  width: 20px;
  margin-top: 2px;
}
.contact p {
  margin: 20px 0;
  font-size: 16px;
  font-family: 'Alegreya', serif;
}
.contact .about p {
  text-align: justify;
}
.contact .about img {
  height: 40px;
  transition: all ease .5s;
}
.contact .about img:hover {
  height: 34px;
  background-color: #085f63;
  border: 3px solid #ffa500;
  border-radius: 50%;
}
.contact .about li {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}
.contact .info img {
  width: 16px;
  margin-right: 15px;
}
.contact span {
  color: #ebeecf;
}
.contact .email_text {
  display: flex;
  padding-bottom: 50px;
}
.contact input {
  padding: 5px;
  color: #313030;
  font-size: 16px;
  font-family: 'Alegreya', serif;
  border: none;
  transition: all ease .5s;
}
.contact input:hover {
  background-color: #b3b3b3;
}
.contact button {
  font-size: 16px;
  background-color: #085f63;
  color: #fff;
  padding: 0 18px;
  font-family: 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  transition: all ease .5s;
}
.contact button:hover {
  background-color: #fff;
  color: #085f63;
  border: 3px solid #ffa500;
  font-weight: bold; 
}

/****************/
/* footer */
/****************/
footer {
  background-color: #000;
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 20px 0;
}
footer small {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/****************/
/* media_query */
/****************/
@media only screen and (max-width:991px) {
  .pc {
    display: none;
  }
}

@media only screen and (min-width:992px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  
  /****************/
  /* common_pc */
  /****************/
  .link {
    font-size: 17px;
    width: 200px;
    height: 40px;
    margin: 20px 0 50px 0;
  }
  
  /****************/
  /* header_pc */
  /****************/
  header .container {
    width: 952px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  header .logo img {
    height: 74px;
  }  
  header .pc {
    display: inline;
  }
  header .pc li a {
    color: #000;
    font-size: 14px;
    transition: all ease .5s;
  }
  header .pc li a:hover {
    animation: blink 1s linear infinite;
  }
  @keyframes blink {
    50% {
    color: #ffa500;
    }
    100% {
    color: #000;
    }
  }
  header .pc li a img {
    height: 27px;
    vertical-align: middle;
  }
  header .login button {
    background-color: #085f63;
    color: #fff;
    font-size: 14px;
    width: 140px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
  }

  /****************/
  /* main_visual_pc */
  /****************/
  .main_visual {
    padding: 220px 0;
  }
  .main_visual h2 {
    font-size: 22px;
  }
  .main_visual h3 {
    font-size: 30px;
  }
  .main_visual button {
    width: 180px;
    height: 40px;
    font-size: 17px;
    margin: 0 10px;
  }
  
  /****************/
  /* courses_pc */
  /****************/
  .courses h3 {
    font-size: 32px;
    padding: 50px 0 5px 0;
  }
  .courses hr {
    border: 2px solid #085f63;
    width: 30px;
  }
  .courses .text_main {
    width: 650px;
    font-size: 17px;
    padding: 30px 0 20px 0;
  }
  .courses img {
    width: 320px;
    height: 210px;
  }  
  .courses .course_container {
    display: flex;
    margin: 0 auto;
    width: 850px;
  }
  .courses .sec_c {
    display: flex;
    flex-direction: column;
    width: 37%;
  }
  .courses .sec_c .link {
    margin: 20px auto 60px;
  }
  .courses h4 {
    font-size: 20px;
    padding: 15px 0;
    width: 320px;
  }
  .courses .text {
    font-size: 17px;
    width: 320px;
  }

  /****************/
  /* admission_pc */
  /****************/
  .admission .container {
    width: 792px;
  }  
  .admission h3 {
    font-size: 32px;
    padding: 50px 0 5px 0;
  }
  .admission hr {
    border: 2px solid #fff;
    width: 30px;
  }
  .admission .form {
    min-width: 792px;
    font-size: 17px;
    padding-bottom: 10px;
    margin-top: 30px;
  }
  .admission p {
    padding: 20px 0;
  }
  .admission input {
    width: 233px;
    font-size: 17px;
    padding: 5px;
  }
  .admission tbody {
    display: flex;
  }
  .admission textarea {
    width: 752px;
    font-size: 17px;
    padding-top: 5px;
  }
  
  /****************/
  /* research_pc */
  /****************/
  .research h3 {
    font-size: 32px;
    padding: 50px 0 5px 0;
  }
  .research hr {
    border: 2px solid #085f63;
    width: 30px;
  }
  .research .text_main {
    width: 650px;
    font-size: 17px;
    padding: 30px 0 20px 0;
  }
  .research img {
    width: 320px;
    height: 210px;
  }  
  .research .research_container {
    display: flex;
    margin: 0 auto;
    width: 850px;
  }
  .research .sec_r {
    display: flex;
    flex-direction: column;
    width: 37%;
  }
  .research .sec_r .link {
    margin: 20px auto 60px;
  }
  .research h4 {
    font-size: 20px;
    padding: 15px 0;
    width: 320px;
  }
  .research .text {
    font-size: 17px;
    width: 320px;
  }

  /****************/
  /* news_events_pc */
  /****************/
  .news_events {
    overflow: hidden;
    width: 952px;
    margin: 0 auto;
  }
  .news_events h3 {
    font-size: 32px;
    padding: 50px 0 5px 0;
  }
  .news_events .hl_line {
    border: 2px solid #085f63;
    width: 30px;
  }
  .news_events .outer_n {
    float: left;
    width: 57%;
  }
  .news_events .outer_n .mid_line_01 {
    border: 10px solid #fff;
  }
  .news_events .outer_ev {
    float: right;
    width: 36%;
  }
  .news_events h4 {
    font-size: 21px;
    margin: 20px 0;
  } 
  .news_events h5 {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 6px;
  }
  .news_events p {
    font-size: 15px;
    text-align: justify;
  }
  .news_events .news {
    width: 532px;
  }
  .news_events .news img {
    width: 204px;
    height: 136px;
    padding-right: 15px;
  }
  .news_events .pc {
    width: 300px;
  }
  .news_events .outer_n hr {
    border: 0px solid #fff;
  }
  .news_events .events {
    width: 335px;
  }
  .news_events .events ul {
    font-size: 16px;
    padding: 14px;
    margin: 18px 5px 19px 15px;
  }
  .news_events .events li {
    font-size: 19px;
  }
  .news_events .events p {
    width: 224px;
  }
  .news_events .events span {
    font-size: 30px;
  }
  .news_events .events .time span {
    font-size: 18px;
  }  
  .news_events .events img {
    height: 14px;
  }  
  .news_events .outer_ev hr {
    border: 0px solid #313030;
  }
  .news_events .outer_n .link {
    width: 330px;
    margin-top: 25px;
  }

  /****************/
  /* contact_pc */
  /****************/
  .contact .container {
    width: 952px;
  }  
  .contact .logo img {
    height: 140px;
    margin-top: 50px;
  }
  .contact .end_line {
    width: 952px;
  }
  .contact .the_end {
    display: flex;
  }
  .contact h4 {
    font-size: 20px;
  }
  .contact .head_line {
    border: 2px solid #085f63;
    width: 23px;
    margin: 5px 0 30px 0;
  }
  .contact p {
    font-size: 17px;
  }
  .contact .about {
    width: 38%;
  }
  .contact .about p {
    width: 283px;
}
  .contact .about img {
    height: 40px;
    margin-bottom: 50px;
  }
  .contact .about img:hover {
    height: 34px;
  }  
  .contact .about li {
    margin-right: 15px;
  }
  .contact .info {
    width: 30%;
  }
  .contact .info img {
    width: 20px;
  }  
  .contact .letter {
    width: 32%;
  }
  .contact .letter p {
    margin-bottom: 20px;
  }
  
  /****************/
  /* footer_pc */
  /****************/
  footer {
    padding: 30px 0;
  }
  footer small {
    font-size: 15px;
  }
  
}